html, body {
  margin: 0;
  padding: 0;
  position:relative;
  position:relative;
}

canvas {
  position:relative;
  left:50%;
  transform: translateX(-50%);
  margin-top: 5%;
  z-index:1;
  
}

/*input{
  z-index:10;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%)
}*/